@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

:root {
  --primary-bg-color: hsl(30, 38%, 92%);
  --btn-bg-color: hsl(158, 36%, 37%);
  --heading-text-color: hsl(212, 21%, 14%);
  --para-text-color: hsl(228, 12%, 48%);
  --white-bg-color: hsl(0, 0%, 100%);

  --btn-hover-color: hsl(156, 42%, 18%);

  --ff-heading: "Fraunces", serif;
  --ff-para: "Montserrat", sans-serif;
}

body {
  line-height: 1;
}

p {
  font-family: var(--ff-para);
}

h1 {
  font-family: var(--ff-heading);
}

.original-price {
  font-family: var(--ff-heading);
}
